<% layout('layout') -%>

<script>
$(document).ready(function(){
	$( "#comments" ).load('/blog/'+<%= blogid %>+'/comments');
});
</script>

<div class="well">
	<% if (!data.response) { %>
			<ul>

				<div class="page-header">
				<a href="/chat?user=<%= data.Author %>" class="btn btn-default btn-success" style="float:right"> Chat </a>
				<a href="/admin/alterentry/<%=data.id%>" class="btn btn-default btn-xs" style="float:right;margin-right:10px"><span class="glyphicon glyphicon-pencil"></span> Edit </a>

					<h1><b><%= data.Titel %> </b><br>
						<small>von <%= data.Author %>
            </small>
	        </h1>
        <small>PostID: <%=data.id %>, Erstellt am  <%=data.Erstellt %>
        </small>

				   </div>
						<%=data.POST %>
						<hr>
						<%= data.Zutaten %>
						<hr>
				</ul>
				<% } %>


				<div id="container">
					<div class="row">

						<div id="comments" > </div>
			</div>
		</div>
	</div>
