<%- include partials/submitcomment%>

<div class="container">

  <% if (!data.response) { %>
				<% data.forEach(function(obj) { %>

					<div class="col-xs-12">
					<div class="container">
					<div class="row">
					<div class="col-sm-">
					</div><!-- /col-sm-12 -->
					</div><!-- /row -->
					</div>
					<div class="col-sm-10">
					<div class="panel panel-default">
					<div class="panel-heading">
					<strong> <%= obj.Name %> </strong> <span class="text-muted">commented	<%= obj.ErstelltAm %> </span>
					<span class="text-muted" style=float:right>#<%= obj.id %> </span>






          </div>
					<div class="panel-body">
						<%= obj.Kommentar %>
					</div><!-- /panel-body -->
					</div><!-- /panel panel-default -->
					</div><!-- /col-sm-5 -->
				</div>
				<% }) %>
<% } %>




				</ul>
			</div>
		</div>
