<% layout('layout') -%>
<form id="newentry" method="POST" action="/admin/alterentry/<%= blogid %>" enctype='application/json'>
	<fieldset>
		<legend> Beitrag ändern </legend>

						<div class="container">
							<div class="jumbotron">

							<div class="row">
								<div class="col-xs-6">
									<div class="input-group">
											<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
											<input name="Author" type="text" class="form-control" placeholder="Author" id="name" value="<%=data.Author%>" required>

									</div>
							</div>

							<div class="col-xs-6">
									<label class="sr-only" for="inputEmail"></label>
									<input name="Titel" type="text" class="form-control" id="mail" placeholder="Titel" value="<%=data.Titel%>" id="mail" required>

									<br>
							</div>

							<div class="col-xs-12">
								<div class="form-group">
										<textarea name="POST" class="form-control" rows=10 required id="message" > <%=data.POST%> </textarea>
										<input name="Zutaten" type="text" class="form-control" placeholder="Zutat" id="zutaten" value="<%=data.Zutaten%>" required>

										<br>
									<input type="submit" class="btn btn-primary" style="float: right" id="submit" name="action" value="SaveChanges" > </input>
									<input type="submit" class="btn btn-danger" style="float: left" id="submit" name="action" value="Delete" > </input>
								</div>
							</div>
							<hr>
							</div>

							</div>
						</div>
</fieldset>
</form>


<script>
$(document).ready(function() {


$('#contactForm')

$.ajax({
		url: $form.attr('action'),
		type: 'POST',
		data: $form.serialize(),
		contentType: 'application/json'

		success: function(result) {

		}
});


});
</script>
