

<% layout('layout') -%>
<div class = "well">
<form id="newentry" method="POST" action="/admin/alterentry/<%= blogid %>" enctype='application/json'>
	<fieldset>
		<legend> Beitrag ändern </legend>

						<div class="container">
							<div class="jumbotron">

							<div class="row">
								<div class="col-xs-6">
									<div class="input-group">
											<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
											<input name="Author" type="text" class="form-control" placeholder="Author" id="name" value="<%=data.Author%>" required></input>

									</div>
							</div>

							<div class="col-xs-6">
									<input name="Titel" type="text" class="form-control" placeholder="Titel" value="<%=data.Titel%>" id="titel" ></input>

									<br>
							</div>

							<div class="col-xs-12">
								<div class="form-group">
										<textarea name="POST" class="form-control" rows=10 id="message" required> <%=data.POST%> </textarea>
										<input name="Zutaten" type="text" class="form-control" placeholder="Zutat" id="zutaten" value="<%=data.Zutaten%>">

										<br>
									<input type="submit" class="btn btn-primary" style="float: right" id="submit" name="action" value="SaveChanges" > </input>
								<a href="/admin/publish/<%=data.id%>" class="btn btn-default" style="float:right;margin-right:10px;"> Publish </a>
									<input type="submit" class="btn btn-danger" style="float: left" id="submit" name="action" value="Delete" > </input>
								</div>
							</div>
							<hr>
							</div>
							</div>
						</div>
</fieldset>
</form>
<div id="comments" > </div>
</div>

<script>
$(document).ready(function() {
$( "#comments" ).load('/admin/alterentry/'+<%= blogid %>+'/comments');

});
</script>
