<html>
  <head>
    <title> </title>
      <body>
        <ul>
            <%=Erstellt %>
            <%= Autor %>
            <%=id %>
            <%=POST %>
            <%=Zutate %>

          %>
        </ul>
      </body>
  </head>
</html>
