<html>
  <head>
    <title>Blog</title>
      <body>
        <ul>
          <b>Author: <%= Author %></b>, Erstellt am <%=Erstellt %>, BlogID: <%=id %> <hr>
            <%=POST %>
            <hr>
            <%= Zutaten %>
            <hr>
        </ul>
      </body>
  </head>
</html>
